/* ------------------------
Project - Banner
------------------------ */

.project-banner {
    height: 90vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
} 

.project-content {
    background-color: var(--white);
    border-radius: 40px 40px 0 0;
}

.project-content h1 {
    font-family: var(--san-serif);
    letter-spacing: 0;
}

/* ------------------------
Media query
------------------------ */

@media screen and (max-width: 834px) {
    

}

@media screen and (max-width: 1080px) {
    

}